<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置fetchType属性来覆盖该项的开关状态。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当开启时，任何方法的调用都会加载该对象的所有属性。否则，每个属性会按需加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="logImpl" value="LOG4J2"/>

    </settings>
    <typeAliases>

        <!--<typeAlias alias="User" type="com.ca.fire.domain.bean.User"/>-->
        <!--<typeAlias alias="OrderDetail" type="com.ca.fire.domain.bean.OrderDetail"/>-->
        <!--<typeAlias alias="OrderMain" type="com.ca.fire.domain.bean.OrderMain"/>-->
        <!--<typeAlias alias="Item" type="com.ca.fire.domain.bean.Item"/>-->
        <!---->
        <package name="com.ca.fire.domain"></package>

    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="mysql"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="false"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
    </plugins>

    <!-- mapper文件 -->
    <!--<mappers>-->
    <!--<mapper resource="mapper/UserMapper.xml"/>-->
    <!--<mapper resource="mapper/OrderMainMapper.xml"/>-->
    <!--<mapper resource="mapper/OrderDetailMapper.xml"/>-->
    <!--<mapper resource="mapper/ItemMapper.xml"/>-->
    <!--</mappers>-->

</configuration>
