<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:component-scan base-package="com.ca.fire">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="classpath:spring/spring-dao.xml"/>
    <import resource="classpath:spring/spring-restClient.xml"/>
    <import resource="classpath:spring/spring-dubbo-provider.xml"/>
    <!--<import resource="classpath:spring/spring-cache.xml"/>-->

    <!-- 开启基于注解的切面 -->
    <aop:aspectj-autoproxy/>
    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property-->
    <!--name="locations"> &lt;!&ndash; PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 &ndash;&gt;-->
    <!--<array>-->
    <!--<value>classpath:prop/filePath.properties</value>-->
    <!--</array>-->
    <!--</property>-->
    <!--</bean>-->

</beans>